.blackcontainer{
  background-color: #343a40;
  color: white;
  text-align: center;
}
.menu{
margin-top: 25px;
}

.greencontainer{
  background-color: #20c997;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  color: black;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 50px;

}
.container img {
  height: 200px;

}

#left{
  font-size: 20px;
  text-align: left;
  padding-left: 150px;

}
#right{
  font-size: 20px;
  padding-right: 150px;

}

*{
  box-sizing: border-box;
}
input{
  border: none;
}
